<!DOCTYPE html>
<html>
<head>
<style>
    body
    {
    background-image:url({{url_for('static',filename='builtin/docc2.jpg')}})
    }
</style>
</head>
 <body>
 <center>
    <div class="bg">
      <br>
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
          <div class="container-fluid">
            <ul class="nav navbar-nav navbar-center">
              <li class=""><a href="/">HOME</a></li>
            </ul>
          </div>
        </nav>

<div id="Symptom" class="tabcontent">
  <form name="SymptomForm" id="SymForm" method="POST" action=/disease_predict>
    <div class="head">
      Symptom Checker
    </div>
    <div class="form-group">
        <br>

      <label for="Symptom1" align="left">Symptom1</label>
      <input type="text" list="symp" multiple="multiple" class="form-control" name="Symptom1">
      <datalist id="symp">
          {% for symp in symptoms %}
          <option value= "{{symp}}">{{symp}}</option>
        {% endfor %}
      </datalist>
        <br>

        <br>

      <label for="Symptom2" align="left">Symptom2</label>
      <input type="text" list="symp" multiple="multiple" class="form-control" name="Symptom2">
      <datalist id="symp">
          {% for symp in symptoms %}
          <option value= "{{symp}}">{{symp}}</option>
        {% endfor %}
      </datalist>
        <br>

        <br>

      <label for="Symptom3" align="left">Symptom3</label>
      <input type="text" list="symp" multiple="multiple" class="form-control" name="Symptom3">
      <datalist id="symp">
          {% for symp in symptoms %}
          <option value= "{{symp}}">{{symp}}</option>
        {% endfor %}
      </datalist>
        <br>
        <br>

      <label for="Symptom4" align="left">Symptom4</label>
      <input type="text" list="symp" multiple="multiple" class="form-control" name="Symptom4">
      <datalist id="symp">
          {% for symp in symptoms %}
          <option value= "{{symp}}">{{symp}}</option>
        {% endfor %}
      </datalist>
        <br>
        <br>

      <label for="Symptom5" align="left">Symptom5</label>
      <input type="text" list="symp" multiple="multiple" class="form-control" name="Symptom5">
      <datalist id="symp">
          {% for symp in symptoms %}
          <option value= "{{symp}}">{{symp}}</option>
        {% endfor %}
      </datalist>
        <br>

    </div>
      <br>

    <button type="submit" class="btn btn-primary" style="padding: 10px;" name=form>Check</button>
      <br>
</form>

  </body>
</html>